# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = TsubasaWp
#	email = tsubasa.wp@gmail.com
[push]
	default = simple
[user]
	email = tsubasa.wp@gmail.com
	name = TsubasaWp
